@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #2b2c31;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.wrapper>header,
.wrapper>footer {
  padding-inline: 5%;
}

.wrapper>main {
  margin-inline: 5%;
}

header {
  background-color: #131313;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5rem;
}

button,
::-webkit-file-upload-button {
  background-color: white;
  outline: none;
  width: 8rem;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 900;
  transition: all 0.3s;
  border: none;
  padding: 1rem 0.5rem;
}

button:hover,
::-webkit-file-upload-button:hover {
  background-color: #131313;
  color: white;
  cursor: pointer;
}

input[type='text'] {
  color: white;
  border: none;
  outline: none;
}

.title {
  gap: 1rem;
}

.search-bar {
  height: 2rem;
  width: 100%;

  padding-inline-start: 1rem;

  border: none;
  outline: none;
  border-radius: 5px;

  background-color: #1e1f22;
  color: white;
}

.image-container {
  overflow-y: scroll;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

.image-container.image-selected {
  overflow-y: scroll;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background: #2b2c31;
}

::-webkit-scrollbar-thumb {
  background: #131313;
  border-radius: 50px;
}

img:not(.selected-image-view__selected-image) {
  flex-grow: 1;
  height: 15rem;
  border-radius: 1rem;

  cursor: pointer;
  transition: all 200ms;

  object-fit: cover;
  position: relative;
}

img:not(.selected-image-view__selected-image):hover {
  filter: blur(0.3rem);
}

.upload-image-popup__container {
  inset: 0;
  position: fixed;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff33;
  backdrop-filter: blur(0.5rem);
}

.upload-image-popup {
  background-color: #1e1e22;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.upload-image-popup__input {
  border-radius: 100vh;
  background-color: #2b2c31;

  font-size: 1.2rem;

  padding: 1rem;

  width: 24rem;
}

.display {
  display: none;
}

p,
label {
  text-align: center;
  color: white;
}

#file-image-upload__input-file {
  color: white;
  width: 16rem;
}

.cancel,
.upload {
  width: 12rem;
}

.image-selected {
  width: 60%;
  float: right;
}

.image-selected>img {
  height: 10rem;
}

.selected-image-view {
  width: 40%;
  height: min-content;
  background-color: rgba(18, 18, 20, 0.5);

  float: left;
  margin-top: 2rem;
  padding: 1rem;

  overflow-y: scroll;
}

.selected-image-view__selected-image-wrapper {
  max-width: 40rem;
}

.selected-image-view__selected-image {
  width: 100%;
}

.selected-image-view__file-name {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  color: white;
}

.selected-image-view__buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}

.selected-image-view__buttons>button {
  width: 12.5rem;
  border-radius: 1rem;
}

.metadata-list {
  list-style: none;
  color: rgb(255, 255, 255, 0.7);
}